In [ ]:
import pandas as pd
pd.Series?

In [2]:
gold= {
    "Bangladesh": 50,
    "India" : 34,
    "Italy" : 67,
    "USA" : 100
}

In [3]:
gold

{'Bangladesh': 50, 'India': 34, 'Italy': 67, 'USA': 100}

In [4]:
pd.Series(gold)

Bangladesh     50
India          34
Italy          67
USA           100
dtype: int64

In [5]:
gold[2]

KeyError: 2

In [6]:
copy_gold = pd.Series(gold)

In [7]:
copy_gold

Bangladesh     50
India          34
Italy          67
USA           100
dtype: int64

In [8]:
copy_gold[2]

67

## Numpy

In [10]:
import numpy as np

In [11]:
s = [47,563,4,5.4,6.4]

In [12]:
s

[47, 563, 4, 5.4, 6.4]

In [13]:
total = np.sum(s)

In [14]:
total

625.8

In [17]:
s =  pd.Series(np.random.randint(0, 1000,10000))

In [18]:
s

0       514
1       661
2       159
3       956
4       320
       ...
9995    708
9996    139
9997    279
9998    313
9999    655
Length: 10000, dtype: int64

In [19]:
len(s)

10000

In [20]:
summery =0
for i in s:
    summery+=i

In [21]:
summery

5051091

In [22]:
summery =0
for i in s:
    summery+=i
summery

5051091

* Sum with Numpy

In [23]:
summery = np.sum(s)

In [24]:
summery

5051091

In [25]:
for label, value in s.iteritems():
    s.ser_value(label, value+2)
s.head()

AttributeError: 'Series' object has no attribute 'ser_value'

In [26]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

AttributeError: 'Series' object has no attribute 'set_value'

In [27]:
s

0       514
1       661
2       159
3       956
4       320
       ...
9995    708
9996    139
9997    279
9998    313
9999    655
Length: 10000, dtype: int64

In [28]:
copy_gold['bangladesh']

KeyError: 'bangladesh'

In [29]:
copy_gold

Bangladesh     50
India          34
Italy          67
USA           100
dtype: int64

In [30]:
copy_gold['Bangladesh']

50

### Querying a Series

In [31]:
copy_gold[2]

67

In [37]:
copy_gold.iloc[2]

67

In [39]:
copy_gold.loc['India']

34

40408728

In [66]:
series = pd.Series(np.random.randint(0,1000,10000))

In [67]:
series.head()

0    924
1    579
2     23
3    464
4     67
dtype: int64

In [69]:
%%timeit -n 100
total =0
for i in series:
    total+=i
total

1.1 ms ± 35.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [70]:
%%timeit -n 100

total = np.sum(series)

121 µs ± 39.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [71]:
numbers = [74,847,69,48,78]

In [72]:
numbers

[74, 847, 69, 48, 78]

In [73]:
numbers+=2

TypeError: 'int' object is not iterable

In [75]:
series

0       926
1       581
2        25
3       466
4        69
       ...
9995    574
9996    999
9997    452
9998    694
9999    781
Length: 10000, dtype: int64

In [76]:
series+=2

In [77]:
series.head()

0    928
1    583
2     27
3    468
4     71
dtype: int64

In [ ]:
%%timeit -n 100
s = pd.Series(np.random.randint(0,100,10000))
for label ,  value in s.iteritems():
    s.loc[label]+=2
s

In [ ]:
%%timeit -n 100
s = pd.Series(np.random.randint(0,100,10000))
for label ,  value in s.iteritems():
    s.loc[label]+=2
s

In [ ]:
%%timeit -n 100
s = pd.Series(np.random.randint(0,100,10000))
s+=2

In [ ]:
series

In [81]:
s

0       36
1       86
2       14
3       79
4       34
        ..
9995    49
9996     0
9997    14
9998    88
9999    60
Length: 10000, dtype: int64

In [82]:
%%timeit -n 100
s = pd.Series(np.random.randint(0,100,10000))
s+=2

349 µs ± 53.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [86]:
for i , v in s.iteritems():
    i

In [87]:
s = pd.Series([4,78,7,45,8])

In [88]:
s

0     4
1    78
2     7
3    45
4     8
dtype: int64

In [89]:
s.loc['Animal'] = 'Dog'

In [90]:
s

0           4
1          78
2           7
3          45
4           8
Animal    Dog
dtype: object

In [91]:
original_sports = pd.Series({
    'Archery':'Bhutan',
    'Golf' : 'Scotland',
    'Sumu': 'Japan'
})
original_sports

Archery      Bhutan
Golf       Scotland
Sumu          Japan
dtype: object

In [92]:
original_sports.loc['Footall'] = 'Argentina'

In [93]:
original_sports

Archery       Bhutan
Golf        Scotland
Sumu           Japan
Footall    Argentina
dtype: object

In [94]:
cricket_loving_country = pd.Series([
    'Australia',
    'Bangladesh',
    'India',
    'Pakistan'
], index=[
    'Cricket',
    'Cricket',
    'Cricket',
    'Cricket'
])
cricket_loving_country

Cricket     Australia
Cricket    Bangladesh
Cricket         India
Cricket      Pakistan
dtype: object

In [95]:
all_country = original_sports.append(cricket_loving_country)

In [96]:
all_country

Archery        Bhutan
Golf         Scotland
Sumu            Japan
Footall     Argentina
Cricket     Australia
Cricket    Bangladesh
Cricket         India
Cricket      Pakistan
dtype: object

In [98]:
original_sports.append(cricket_loving_country)

Archery        Bhutan
Golf         Scotland
Sumu            Japan
Footall     Argentina
Cricket     Australia
Cricket    Bangladesh
Cricket         India
Cricket      Pakistan
dtype: object

In [99]:
original_sports

Archery       Bhutan
Golf        Scotland
Sumu           Japan
Footall    Argentina
dtype: object

### End of Querying a Series