In [ ]:
import pandas as pd
pd.Series?

In [2]:
gold= {
    "Bangladesh": 50,
    "India" : 34,
    "Italy" : 67,
    "USA" : 100
}

In [3]:
gold

{'Bangladesh': 50, 'India': 34, 'Italy': 67, 'USA': 100}

In [4]:
pd.Series(gold)

Bangladesh     50
India          34
Italy          67
USA           100
dtype: int64

In [5]:
gold[2]

KeyError: 2

In [6]:
copy_gold = pd.Series(gold)

In [7]:
copy_gold

Bangladesh     50
India          34
Italy          67
USA           100
dtype: int64

In [8]:
copy_gold[2]

67

## Numpy

In [10]:
import numpy as np

In [11]:
s = [47,563,4,5.4,6.4]

In [12]:
s

[47, 563, 4, 5.4, 6.4]

In [13]:
total = np.sum(s)

In [14]:
total

625.8

In [17]:
s =  pd.Series(np.random.randint(0, 1000,10000))

In [18]:
s

0       514
1       661
2       159
3       956
4       320
       ...
9995    708
9996    139
9997    279
9998    313
9999    655
Length: 10000, dtype: int64

In [19]:
len(s)

10000

In [20]:
summery =0
for i in s:
    summery+=i

In [21]:
summery

5051091

In [ ]:
summery =0
for i in s:
    summery+=i